<!-- Plantilla -->
<section id='template-content' class='{{loading ? "load" : ""}}'>

	<!-- Imagen de carga -->
	<section id='img-load-content' class='{{loading ? "view" : ""}}'>
		<img id='img-load' src='img/img-load.gif' alt='img-load.gif'>
	</section>

	<div ng-show='!parent.isAuthenticated()'>
		<br>
		<p class='center'>Tu sesión expiró.
			<a href='/login' style='cursor:pointer;'> Inicia Sesión</a>.
		</p>
	</div>

	<div class='col-lg-6'>
		<!-- Excel export -->
		<div class='body-form' ng-show='parent.isAuthenticated()'>
			<h4 class='date'>EXPORTAR DATOS A EXCEL</h4>
			<!-- Errors -->
			<div ng-show='feedback_err' class='alert alert-danger'>
				<button type="button" class="close" ng-click='quit()'><span>&times;</span></button>
				{{feedback_err}}
			</div>
			<div ng-show='feedback_success' class='alert alert-success'>
				<button type="button" class="close" ng-click='quit()'><span>&times;</span></button>
				{{feedback_success}}
			</div>
			<!-- Listado de sectores -->
			<form ng-submit="export()">
				<!-- date -->
				<label class='col-form-label'><b>Día</b></label>
				<input class="form-control" type='date' ng-model='data.date_false' ng-change='formatDate()' required>
				<button type='submit' class='btn btn-success'>Descargar hoja de cácluclo!</button>
			</form>
			<!-- Alert -->
			<div class='alert alert-info alert-form'
				ng-show='sectors.length == 0'
				style='margin-bottom: 0px;'>
				<small>Aún no hay sectores. <a href="/sectors">Crea uno</a></small>
			</div>
		</div>
	</div>

</section>