<!-- Navegación, fecha y hora-->
<div id='subnav'>
	<ol class='breadcrumb'>
		<div class='container'>
			<li class='breadcrumb-item'>
				<a class='breadcrumb-link' href="/">Admin</a>
			</li>
			<li class='breadcrumb-item active'>Crear noticia</li>
			<div id='time' class='right date'></div>
		</div>
	</ol>
</div>

<!-- Plantilla -->
<section id='template-content' class='{{loading ? "load" : ""}}'>

	<!-- Imagen de carga -->
	<section id='img-load-content' class='{{loading ? "view" : ""}}'>
		<img id='img-load' src='img/img-load.gif' alt='img-load.gif'>
	</section>
	
	<!-- Titulo -->
	<div class='head-title'>
		<h1 class='center light'>Crear noticia</h1>
	</div>
	

	<!-- Formulario -->
	<div class='container body-form'>

		<form ng-if='userLoged.active' ng-submit="notice.create()" method="post">
			<fieldset>
				<!-- Errors -->
				<div ng-show='feedback_err' class='alert alert-danger'>
					{{feedback_err}}
				</div>

				<!-- Titulo -->
				<div class='form-group {{feedback_title ? "has-danger" : ""}}'>
					<label 
						class='form-control-label'
						for='title'>
						<b>Titulo</b></label>
		    		<input
		    			id='title'
		    			type="text"
		    			ng-model="notice.title"
		    			class='form-control' />
		    		<div 
		    			id="title-feedback"
		    			class='form-control-feedback'>{{feedback_title}}</div>
					</div>

				<!-- Categoria -->
  				<div class='form-group {{feedback_category ? "has-danger" : ""}}'>
  				  	<label 
						class='form-control-label'
						for='category'>
							<b>Categoria</b></label>
  				  	<select class="form-control" id="category" ng-model="notice.category">
  				  		<option value='' disabled>Selecciona una opción</option>
  				  		<option value='ANIVERSARIO'>ANIVERSARIO</option>
  				  		<option value='DEPORTES'>DEPORTES</option>
  				  		<option value='EL CLUB'>EL CLUB</option>
  				  		<option value='FIESTA DEL CHACARERO'>FIESTA DEL CHACARERO</option>
  				  		<option value='HISTORIA'>HISTORIA</option>
  				  		<option value='MEJORAS'>MEJORAS</option>
  				  		<option value='PRENSA'>PRENSA</option>
  				  	</select>
  				  	<div 
		    			id="title-feedback"
		    			class='form-control-feedback'>{{feedback_category}}</div>
  				</div>
				
				<!-- imagen -->
  				<div class='form-group'>
  					<label 
						class='form-control-label'
						for='img_url'>
						<b>Imagen</b></label>
					<input
						style='display:none'
						ng-model="notice.url_img"
						type='text'>

					<div class='row'>
						<div class='col-lg-10 col-md-9 col-sm-8'>
  							<input 
  								class='form-control form-control-file'
  								onchange="angular.element(this).scope().upload(this)"
  								accept='image/*'
  								id='img_url'
  								type='file'
  							>
  							<div ng-if='sending' class="progress">
								<div 
									class="progress-bar progress-bar-striped progress-bar-animated"
									aria-valuenow="{{progress}}"
									style='width:{{progress}}%'>
								</div>
							</div>
							<p ng-if='sending' class='center'>{{progress}}%</p>
							<div ng-if='result.success === false' >
								<p class='alert alert-danger'>Error de servicio! Contácte al administrdor del sistema. <br><small><b>Respuesta del servidor de imagenes:</b> {{result.data.error}}</small></p>
							</div>
							<div ng-if='error' >
								<p class='alert alert-danger'>{{img_err}}</p>
							</div>
  						</div>
						<div class='right col-lg-2 col-md-3 col-sm-4 col-xs-7'>
							<div class='form-control'>
								<img
									class='img-fluid'
									src="{{result.data.link ? result.data.link : '/img/imgdefault.png'}}">
							</div>
						</div>
					</div>

  				</div>

				<!-- Contenido principal -->
				<div class='form-group {{feedback_content_1 ? "has-danger" : ""}}'>
		    		<label 
		    			class='form-control-label'
		    			for='content_1'>
		    				<b>Contenido Principal</b></label>
		    		<textarea
		    			rows='4'
		    			id='content_1'
		    			type="text"
		    			ng-model="notice.content_1"
		    			class='form-control'></textarea>
		    		<div 
		    			id="content_1-feedback"
		    			class='form-control-feedback'>{{feedback_content_1}}</div>
				</div>
	
				<!-- Contenido secundario -->
				<div class='form-group {{feedback_content_2 ? "has-danger" : ""}}'>
		    		<label 
		    			class='form-control-label'
		    			for='content_2'>
		    				<b>Contenido Secundario</b></label>
		    		<textarea
		    			rows='4'
		    			id='content_2'
		    			type="text"
		    			ng-model="notice.content_2"
		    			class='form-control'></textarea>
		    		<div 
		    			id="content_2-feedback"
		    			class='form-control-feedback'>{{feedback_content_2}}</div>
				</div>

				<!-- Autor -->
				<div style='display:none'>
		    		<input
		    			id='autor'
		    			type="text"
		    			ng-model="notice.autor"
		    			class='form-control' />
		    		<div 
		    			id="content_2-feedback"
		    			class='form-control-feedback'>{{feedback_content_2}}</div>
				</div>

				<!-- Botones de acceso -->
		    	<a class='btn btn-link' href="/">Cancelar</a>
		    	<button
		    		type="submit"
		    		class='btn btn-outline-success {{loading ? "disabled" : ""}}'>Guardar Noticia</button>
			</fieldset>
		</form>

		<form ng-if='!userLoged.active'>
			<fieldset disabled>
				<!-- Errors -->
				<div class='alert alert-danger'>
					Todavia no puedes crear noticias. Estas pendiente de moderación. <a href="/">Volver</a>
				</div>

				<!-- Titulo -->
				<div class='form-group {{feedback_title ? "has-danger" : ""}}'>
					<label 
						class='form-control-label'
						for='title'>
						<b>Titulo</b></label>
		    		<input
		    			id='title'
		    			type="text"
		    			ng-model="notice.title"
		    			class='form-control' />
		    		<div 
		    			id="title-feedback"
		    			class='form-control-feedback'>{{feedback_title}}</div>
					</div>

				<!-- Categoria -->
  				<div class='form-group {{feedback_category ? "has-danger" : ""}}'>
  				  	<label 
						class='form-control-label'
						for='category'>
							<b>Categoria</b></label>
  				  	<select class="form-control" id="category" ng-model="notice.category">
  				  		<option value='' disabled>Selecciona una opción</option>
  				  		<option value='ANIVERSARIO'>ANIVERSARIO</option>
  				  		<option value='DEPORTES'>DEPORTES</option>
  				  		<option value='EL CLUB'>EL CLUB</option>
  				  		<option value='FIESTA DEL CHACARERO'>FIESTA DEL CHACARERO</option>
  				  		<option value='HISTORIA'>HISTORIA</option>
  				  		<option value='MEJORAS'>MEJORAS</option>
  				  		<option value='PRENSA'>PRENSA</option>
  				  	</select>
  				  	<div 
		    			id="title-feedback"
		    			class='form-control-feedback'>{{feedback_category}}</div>
  				</div>
				
				<!-- imagen -->
  				<div class='form-group'>
  					<label 
						class='form-control-label'
						for='img_url'>
						<b>Imagen</b></label>
					<input
						style='display:none'
						ng-model="notice.url_img"
						type='text'>

					<div class='row'>
						<div class='col-lg-10 col-md-9 col-sm-8'>
  							<input 
  								class='form-control form-control-file'
  								onchange="angular.element(this).scope().upload(this)"
  								accept='image/*'
  								id='img_url'
  								type='file'
  							>
  							<div ng-if='sending' class="progress">
								<div 
									class="progress-bar progress-bar-striped progress-bar-animated"
									aria-valuenow="{{progress}}"
									style='width:{{progress}}%'>
								</div>
							</div>
							<p ng-if='sending' class='center'>{{progress}}%</p>
							<div ng-if='result.success === false' >
								<p class='alert alert-danger'>Error de servicio! Contácte al administrdor del sistema. <br><small><b>Respuesta del servidor de imagenes:</b> {{result.data.error}}</small></p>
							</div>
							<div ng-if='error' >
								<p class='alert alert-danger'>{{img_err}}</p>
							</div>
  						</div>
						<div class='right col-lg-2 col-md-3 col-sm-4 col-xs-7'>
							<div class='form-control'>
								<img
									class='img-fluid'
									src="{{result.data.link ? result.data.link : '/img/imgdefault.png'}}">
							</div>
						</div>
					</div>

  				</div>

				<!-- Contenido principal -->
				<div class='form-group {{feedback_content_1 ? "has-danger" : ""}}'>
		    		<label 
		    			class='form-control-label'
		    			for='content_1'>
		    				<b>Contenido Principal</b></label>
		    		<textarea
		    			rows='4'
		    			id='content_1'
		    			type="text"
		    			ng-model="notice.content_1"
		    			class='form-control'></textarea>
		    		<div 
		    			id="content_1-feedback"
		    			class='form-control-feedback'>{{feedback_content_1}}</div>
				</div>
	
				<!-- Contenido secundario -->
				<div class='form-group {{feedback_content_2 ? "has-danger" : ""}}'>
		    		<label 
		    			class='form-control-label'
		    			for='content_2'>
		    				<b>Contenido Secundario</b></label>
		    		<textarea
		    			rows='4'
		    			id='content_2'
		    			type="text"
		    			ng-model="notice.content_2"
		    			class='form-control'></textarea>
		    		<div 
		    			id="content_2-feedback"
		    			class='form-control-feedback'>{{feedback_content_2}}</div>
				</div>

				<!-- Botones de acceso -->
		    	<a class='btn btn-link' href="/">Cancelar</a>
		    	<button
		    		type="submit"
		    		class='btn btn-outline-success {{loading ? "disabled" : ""}}'>Guardar Noticia</button>
			</fieldset>
		</form>

	</div>

</section>