<!-- Navegación, fecha y hora-->
<div id='subnav'>
	<ol class='breadcrumb'>
		<div class='container'>
			<li class='breadcrumb-item'>
				<a class='breadcrumb-link' href="/">Admin</a>
			</li>
			<li class='breadcrumb-item'>
				<a class='breadcrumb-link' href="/notices">Listado de noticias</a>
			</li>
			<li class='breadcrumb-item active'>Mostrar noticia
			</li>
			<div id='time' class='right date'></div>
		</div>
	</ol>
</div>

<!-- Plantilla -->
<section id='template-content' class='{{loading ? "load" : ""}}'>

	<!-- Imagen de carga -->
	<section id='img-load-content' class='{{loading ? "view" : ""}}'>
		<img id='img-load' src='img/img-load.gif' alt='img-load.gif'>
	</section>
	
	<!-- Titulo -->
	<div class='head-title'>
		<h1 class='center light'>Mostrar noticia</h1>
	</div>
	

	<!-- Noticia -->
	<div class='container body-form notice-show'>

		<!-- Errors -->
		<div ng-show='feedback_err' class='alert alert-danger'>
			{{feedback_err}}
		</div>

		<!-- Contenido -->
		<div class='row'>
			<div class='col-md-4'>
				<img 
					class='img-fluid center'
					alt='{{notice.title}}'
					src="{{notice.url_img}}">
			</div>
			<div class='col-md-8'>
				<h3>{{notice.title}}</h3>
				<p class='date'>{{setDate(notice.created)}} - <b>{{notice.category}}</b></p>
				<p>{{notice.content_1}}</p>
				<p>{{notice.content_2}}</p>
			</div>
		</div>

		<!-- Acciones -->
		<div class='row'>
			<div class='right'>
				<a
					class='btn btn-link'
					href="/notices">Volver</a>
				<form ng-if='userLoged.active' ng-submit="this.delete(notice._id)" method='get'>
					<input
						class='btn btn-outline-danger'
						type='submit'
						onClick='return confirm("BORRAR NOTICIA?")'
						value='Borrar'>
				</form>
			</div>
		</div>

	</div>

</section>