extends ./layout.jade

block content
	section(ui-view)
block js_footer
	//- Angular MVC
	//- ** Vistas:
	script(type="text/javascript", src='/js/app/templates.js')
	//- ** Rutas:
	script(type="text/javascript", src='/js/app/routes.js')
	//- ** Modelos:
	script(type="text/javascript", src='/js/app/models/board.js')
	script(type="text/javascript", src='/js/app/models/sector.js')
	script(type="text/javascript", src='/js/app/models/session.js')
	script(type="text/javascript", src='/js/app/models/socket.js')
	script(type="text/javascript", src='/js/app/models/users.js')
	//- ** Controladores:
	script(type="text/javascript", src='/js/app/controllers/Excel.js')
	script(type="text/javascript", src='/js/app/controllers/Forgot.js')
	script(type="text/javascript", src='/js/app/controllers/Home.js')
	script(type="text/javascript", src='/js/app/controllers/Login.js')
	script(type="text/javascript", src='/js/app/controllers/Logout.js')
	script(type="text/javascript", src='/js/app/controllers/Main.js')
	script(type="text/javascript", src='/js/app/controllers/Reset.js')
	script(type="text/javascript", src='/js/app/controllers/Sector.js')
	script(type="text/javascript", src='/js/app/controllers/Signup.js')
	script(type="text/javascript", src='/js/app/controllers/UserList.js')