doctype html
html(lang='es', ng-app='App')
	head
		base(href='/')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Administración
		block meta
		//- Bootstrap
		script(type="text/javascript", src='/js/lib/jquery/jquery.js')
		script(type="text/javascript", src='/js/lib/tether/tether.js')
		script(type="text/javascript", src='/js/lib/bootstrap/bootstrap.js')
		//- Formato de Fechas
		script(type="text/javascript", src='/js/lib/moment/moment.js')
		script(type="text/javascript", src='/js/app/moment-with-locales.js')
		script(type="text/javascript", src='/js/app/time.js')
		//- Angular
		script(type="text/javascript", src='/js/lib/angular/angular.js')
		script(type="text/javascript", src='/js/lib/angular-ui-router/angular-ui-router.js')
		script(type="text/javascript", src='/js/lib/satellizer/satellizer.js')
		//- script(type="text/javascript", src='/js/lib/angular-imgur-upload/angular-imgur-upload.min.js')
		block js
		link(rel="stylesheet", type="text/css", href='/css/bootstrap.min.css')
		link(rel="stylesheet", type="text/css", href='/css/style.css')
		block css
	body(ng-controller='Main')
		//- Menu
		header.navbar.navbar-fixed-top(ng-controller='IsAuthenticated')
			nav.container
				a.navbar-brand(href='/', title='Home')
					img(src='/img/logo.svg' alt='logo.svg')
				ul.nav.navbar-nav.right(ng-if='!isAuthenticated()')
					li.nav-item
						a.nav-link(href='/login', title='Entrar') Entrar
					li.nav-item
						a.nav-link(href='/signup', title='Registrarse') Registrarse
				ul.nav.navbar-nav.right(ng-if='isAuthenticated()')
					li.nav-item.dropdown
						#userMenu.nav-link.dropdown-toggle(
							title='{{getName()}}'
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="true"
						) {{getName()}}
						.dropdown-menu(aria-labelledby='userMenu')
							a.dropdown-item(href='/logout', title='Salir') Salir
		//- Contenido principal
		section#main
			block content
		//- Pie de página
		footer.footer
			.container
				p.center.date 
					small.lead Sistema de Administración Web
		//- Scripts
		block js_footer