<!-- Plantilla -->
<section id='template-content' class='{{loading ? "load" : ""}}'>

	<!-- Imagen de carga -->
	<section id='img-load-content' class='{{loading ? "view" : ""}}'>
		<img id='img-load' src='img/img-load.gif' alt='img-load.gif'>
	</section>
	
	<div class='head-title'></div>

	<div class='container'>
		<div class='jumbotron'>
			<div class='row'>
				<div class='col-md-7'>
					<h1 class='display-3'>Error 404</h1>
					<p class='lead'>Esta página no existe :( </p>
					<p class='lead'>
						<a class='center btn btn-primary' href="/">Volver</a>
					</p>
					<hr class="my-4">
					
				</div>
				<div class='col-md-5'>
					<img style='margin:0 auto' class='img-fluid' src="/img/troll.gif">
				</div>
			</div>
		</div>
	</div>

</section>