<!-- Plantilla -->
<section id='template-content' class='{{loading ? "load" : ""}}'>

	<!-- Imagen de carga -->
	<section id='img-load-content' class='{{loading ? "view" : ""}}'>
		<img id='img-load' src='img/img-load.gif' alt='img-load.gif'>
	</section>

	<!-- Notificaciones -->
	<div class='notifications container center'>
		<!-- Errors -->
		<div ng-show='feedback_err' class='alert alert-danger'>
			{{feedback_err}}
			<script>(function(e){function animation(element){setTimeout(function(){element.animate({height:'0px'},'slow');e.empty()},5000)}animation(e)})($('.notifications'))</script>
		</div>
		<!-- Success -->
		<div ng-show='feedback_success' class='alert alert-success'>
			{{feedback_success}}
			<script>(function(e){function animation(element){setTimeout(function(){element.animate({height:'0px'},'slow');e.empty()},5000)}animation(e)})($('.notifications'))</script>
		</div>
	</div>

	<div ng-show='!parent.isAuthenticated()'>
		<br>
		<p class='center'>Tu sesión expiró.
			<a href='/login' style='cursor:pointer;'> Inicia Sesión</a>.
		</p>
	</div>
	
	<!-- Dashboard -->
	<div class='row' ng-show='parent.isAuthenticated()'>

		<!-- Columna 1 -->
		<div class='col-lg-7'>

			<!-- Total usuarios -->
			<div class='col-lg-6'>
				<div class=' body-form'>
					<h4 class='center date'>USUARIOS</h4>
					<h1 class='center'>{{parent.usersCount}}</h1>
				</div>
			</div>

			<!-- Total sectores -->
			<div class='col-lg-6'>
				<div class=' body-form'>
					<h4 class='center date'>SECTORES</h4>
					<h1 class='center'>{{parent.sectorCount}}</h1>
				</div>
			</div>

			<!-- Total placas -->
			<div class='col-lg-6'>
				<div class=' body-form'>
					<h4 class='center date'>ARDUINOS</h4>
					<h1 class='center'>{{parent.boardCount}}</h1>
				</div>
			</div>

		</div>

		<!-- Columna 2 -->
		<div class='col-lg-5'>

			<div class='body-form'>
				Gráficos
			</div>

		</div>

	</div>

</section>