<!-- Plantilla -->
<section id='template-content' class='{{loading ? "load" : ""}}'>

	<!-- Imagen de carga -->
	<section id='img-load-content' class='{{loading ? "view" : ""}}'>
		<img id='img-load' src='img/img-load.gif' alt='img-load.gif'>
	</section>

	<!-- Notificaciones -->
	<div class='notifications container center'>
		<!-- Errors -->
		<div ng-show='feedback_err' class='alert alert-danger'>
			{{feedback_err}}
			<script>(function(e){function animation(element){setTimeout(function(){element.animate({height:'0px'},'slow');e.empty()},5000)}animation(e)})($('.notifications'))</script>
		</div>
		<!-- Success -->
		<div ng-show='feedback_success' class='alert alert-success'>
			{{feedback_success}}
			<script>(function(e){function animation(element){setTimeout(function(){element.animate({height:'0px'},'slow');e.empty()},5000)}animation(e)})($('.notifications'))</script>
		</div>
	</div>

	<div ng-show='!parent.isAuthenticated()'>
		<br>
		<p class='center'>Tu sesión expiró.
			<a href='/login' style='cursor:pointer;'> Inicia Sesión</a>.
		</p>
	</div>
	
	<!-- Dashboard -->
	<div class='row' ng-show='parent.isAuthenticated()'>

		<!-- Columna 1 -->
		<div class='col-lg-7'>

			<!-- Total mensajes -->
			<div class='col-lg-6'>
				<div class=' body-form'>
					<h4 class='center date'>MENSAJES</h4>
					<h1 class='center'>{{parent.messages.length}}</h1 >
				</div>
			</div>

			<!-- Total usuarios -->
			<div class='col-lg-6'>
				<div class=' body-form'>
					<h4 class='center date'>USUARIOS</h4>
					<h1 class='center'>{{usersCount}}</h1 >
				</div>
			</div>

		</div>

		<!-- Columna 2 -->
		<div class='col-lg-5'>

			<!-- Mensajes -->
			<div class='body-form'>

				<!-- Menu msj -->
				<div id='menuMsj' class='navbar'>
					<ul class='nav navbar-nav'>
						<li class='nav-item lead'><span class='msj-admin'>•</span> Administradores</li>
						<li class='nav-item lead'><span class='msj-client'>•</span> Clientes</li>
					</ul>
				</div>
				<hr>

				<!-- Posible notificación de error -->
				<div ng-show='parent.messages.length == 0'>
					No funciona el chat? 
					<a href='/' style='cursor:pointer;' ng-click='dash.reload()'>
						Recargá el sitio
					</a>.
				</div>

				<!-- Lista de msj -->
				<div id='message'>
					<div ng-repeat='msj in parent.messages' class='grow'>
						<span class='{{msj.admin ? "msj-admin" : "msj-client"}}'>{{msj.author}}:</span>
						<em>{{msj.text}}</em>
					</div>
				</div>

				<!-- Formulario nuevo msj -->
				<form class='form-inline' ng-submit="dash.addMessage()" ng-show='parent.isAuthenticated()'>
					<input ng-model="dash.message.text"
						class='form-control'
						type="text"
						id="texto"
						placeholder="Cuéntanos algo...">
					<input type='checkbox'
						class='none'
						ng-model="dash.message.admin"
						>
					<input type="submit" class='btn btn-outline-primary' value="Enviar!">
				</form>

				<!-- Falso formulario -->
				<fieldset disabled ng-show='!parent.isAuthenticated()'>
					<form class='form-inline'>  
					    <input class='form-control'
					    	type="text"
					    	id="texto"
					    	placeholder="Cuéntanos algo...">
					    <input class='btn btn-outline-primary' value="Enviar!">
					</form>
				</fieldset>

			</div>

		</div>

	</div>

</section>