<!-- Navegación, fecha y hora-->
<div id='subnav'>
	<ol class='breadcrumb'>
		<div class='container'>
			<li class='breadcrumb-item'>
				<a class='breadcrumb-link' href="/">Admin</a>
			</li>
			<li class='breadcrumb-item active'>Fotorresistores en tiempo real</li>
			<div id='time' class='right date'></div>
		</div>
	</ol>
</div>

<!-- Plantilla -->
<section id='template-content' class='{{loading ? "load" : ""}}'>

	<!-- Imagen de carga -->
	<section id='img-load-content' class='{{loading ? "view" : ""}}'>
		<img id='img-load' src='img/img-load.gif' alt='img-load.gif'>
	</section>
	
	<!-- Titulo -->
	<div class='head-title'>
		<h1 class='center light'>Fotorresistores en tiempo real</h1>
	</div>

	<!-- Listado de Lecturas de Fotorresistores -->
	<div class='container body-form'>

		<!-- Errors -->
		<div ng-show='feedback_err' class='alert alert-danger'>
			{{feedback_err}}
		</div>

		<!-- Grafico -->
		<nvd3 options='options' data='data'></nvd3>

		<a href="/" class='btn btn-link'>Volver</a>
	</div>

</section>